body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/kezdolapkep85opacity.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;

    
}

/*oldalak*/
#navTxt{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    color: white;
    margin-left: 20px;
    text-align: center;


    opacity: 0;
    transform: translateX(-50px);
    animation: navFadeIn 1s ease-out forwards;
}
@keyframes navFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#receptek{

    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center ;

    
}

#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
#menutervezo{
    float: right;
    margin-right: 20%;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    margin-top: 5%;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
.oldalak{
    display: flex;
    display: inline-block;
    margin: 0 auto 0 auto;
    margin-top: 50px;

}
/*oldal vége*/




/*footer kezdet*/
footer{
    height: 300px;
    width: 100%;
    position:static;
    bottom: 0;
    color: white;
    margin-top: 250px;
}

#footerFelso{
    display: flex;
    background-color: #6C9995;
    height: 80%;
    width: 100%;
}

#footerAlso{
    height: 20%;
}

#logo{
    padding: 0px 20px;
    height: 100%;
    vertical-align: top;
}
#logoImg{
    height: 100%;
    width: 100%;
}   
#socialmedia{
    height: 100%;
    width: 40%;
}
#imgsRow{
    height: 50%;
    display: flex;
    gap: 15%;
}
#imgsRow>a>img{
    height: 100%;
    
}
#jobboldal{
    right: 0;
    height: 100%;
}
#kapcsolat{
    height: 70%;
    width: 100%;
}
#hirlevel{
    height: fit-content;
    width: 100%;
    display: flex;
}
input{
    width: 60%;
    height: 40%;
}

#footerAlso{
    display: flex;
    background-color: #8C8C8C;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
.hirlevel {
    display: flex;
    max-width: 420px;
    width: 100%;
    background: #ffffff;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    margin: -5% auto;
  }
  
  .hirlevel input {
    flex: 1;
    border: none;
    padding: 14px 18px;
    font-size: 15px;
    outline: none;
  }
  
  .hirlevel input::placeholder {
    color: #9ca3af;
  }
  
  .hirlevel button {
    border: none;
    background: #D2E4E3;
    color: #000;
    padding: 0 22px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hirlevel button:hover {
    background: #8C8C8C;
  } 	
/* footer vége*/

