body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/kezdolapkep85opacity.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;

    
}

/*oldalak*/
#navTxt{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    color: white;
    margin-left: 20px;
    text-align: center;


    opacity: 0;
    transform: translateX(-50px);
    animation: navFadeIn 1s ease-out forwards;
}
@keyframes navFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#receptek{

    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center ;

    
}

#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
#menutervezo{
    float: right;
    margin-right: 20%;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    margin-top: 5%;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
.oldalak{
    display: flex;
    display: inline-block;
    margin: 0 auto 0 auto;
    margin-top: 50px;

}
/*oldal vége*/




/*footer kezdet*/

/* footer vége*/

