body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/kezdolapkep85opacity.jpg");
    background-size: cover;
    background-position: top;
    justify-items: center;
    align-items: center;
}

/*oldalak*/
#navTxt{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-size: 8vw;
    color: white;
    margin-left: 20px;
    text-align: center;


    opacity: 0;
    transform: translateX(-50px);
    animation: navFadeIn 2s ease-out forwards;
}
@keyframes navFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* #receptek{

    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center ;

    
} */
/* #receptek, #menutervezo{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;

    height: 500px;
    width: 400px;

    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;

    border-radius: 25px;
    border: 5px solid #6C9995;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;       
    float: none;     
}
#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
} */
.card{
    height: 500px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E8F1F0;
    border-radius: 25px;
    border: 5px solid #6C9995;

    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-size: 50px;

    text-decoration: none;  /* removes link underline */
    color: black;

    transition: 0.2s;
}

.card:hover{
    background-color: #C1DCDC;
    font-weight: 800;
}
/* #menutervezo{
    float: right;
    margin-right: 20%;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    margin-top: 5%;
    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center;
} */
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
.oldalak{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    
    

}
/*oldal vége*/



/* media query */

@media screen and (min-width: 800px) and (max-width: 1200px) {
    #navTxt{
        font-size: 90px;
    }
    #receptek, #menutervezo{
        display: grid;
        width: 400px;
        height: 500px;
        font-size: 50px;
        margin: 2%;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        
    }
    .oldalak{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 350px) and (max-width: 800px) {
    #navTxt{
        font-size: 90px;
    }
    #receptek, #menutervezo{
        display: grid;
        width: 45vw;
        height: 50vh;
        font-size: 30px;
        margin: 2%;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        
    }
    .oldalak{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* @media screen and (min-width: 1200px) and (max-width: 1500px) {
    #navTxt{
        font-size: 90px
    }
    #receptek, #menutervezo{
        display: grid;
        width: 400px;
        height: 500px;
        font-size: 50px;
        margin: 2%;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
    }
    #receptek{
        margin-left: 20%;
    }
    #menutervezo{
        margin-right: 20%;
    }
    .oldalak{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} */