body{
    background-color: #D2E4E3;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    font-style: italic;
    background-image: url("../imgs/kezdolapkep85opacity.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;

    
}

/*oldalak*/

#receptek{
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;

    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    float: left;
    margin-left: 20%;
    border-radius: 25px;
    border: 5px solid #6C9995;
    display: flex;
    justify-content: center;
    align-items: center ;

    
}
#receptek:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
#menutervezo{
    float: right;
    margin-right: 20%;
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;

    height: 500px;
    width:400px;
    background-color: #E8F1F0;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid #6C9995;
    justify-content: center;
    align-items: center
}
#menutervezo:hover{
    background-color: #C1DCDC;
    cursor: pointer;
    font-weight: 800;
}
.oldalak{
    display: flex;
    display: inline-block;
    margin: 0 auto 0 auto;

}
/*oldal vége*/




/*footer kezdet*/
footer{
    height: 300px;
    width: 100%;
    position:static;
    bottom: 0;
    color: white;
    margin-top: 250px;
}

#footerFelso{
    display: flex;
    background-color: #6C9995;
    height: 80%;
    width: 100%;
}

#footerAlso{
    height: 20%;
}

#logo{
    padding: 0px 20px;
    height: 100%;
    vertical-align: top;
}
#logoImg{
    height: 100%;
    width: 100%;
}   
#socialmedia{
    height: 100%;
    width: 40%;
}
#imgsRow{
    height: 25%;
    display: flex;
}
#jobboldal{
    right: 0;
    height: 100%;
}
#kapcsolat{
    height: 70%;
    width: 100%;
}
#hirlevel{
    height: fit-content;
    width: 100%;
    display: flex;
}
input{
    width: 60%;
    height: 40%;
}

#footerAlso{
    display: flex;
    background-color: #8C8C8C;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}
/* footer vége*/

