body{
    background-color: #D2E4E3;
    margin: 0;
    padding: 0;
}

/* tablazat */
.grid-container {
    display: grid;
}

/* alap cella */
.cell {
    background-color: #e0e0e0;
    width: 20%;
    height: 100px;
    border-radius: 8px;
}


