body{
    background-color: #D2E4E3;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.grid-table{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    border: 2px solid black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
    margin: 20px;
}

.grid-header {
    background-color: #91b4b1;
    color: white;
}

.grid-table > div {
    width: auto;
    height: 100px;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
  
.grid-table > div:nth-child(5n) {
    border-right: none;
}
  
