footer{
  margin-top: 100px;
  height: 400px;
  width: 100%;
  position: static;
  bottom: 0;
  color: white;
}

#footerFelso{
  display: flex;
  background-color: #6C9995;
  height: 80%;
  width: 100%;
}

#footerAlso{
  height: 21%;
}

#logo{
  padding: 0px 20px;
  height: 100%;
  display: flex;
}
#verticalLine {
  width: 1px;
  height: 80%; 
  background-color: #fff; 
  align-self: center;
}
#logoImg{
  height: 100%;
  width: 100%;
}   
#socialmedia{
  height: 100%;
  width: 40%;
  align-content: center;
  justify-items: center;
}
#imgsRow{
  margin-right: 450px;
  height: 25%;
  display: flex;
}
#jobboldal{
  right: 0;
  height: 100%;
}
#kapcsolat{
  height: 70%;
  width: 100%;
}
#hirlevel{
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
#hirlevel input{
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}
#hirlevel input:focus{
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
#hirlevel button{
  width: 80%;
  height: 45px;
  background-color: #5A7D7A;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#hirlevel button:hover{
  background-color: #97bbb9;
  transform: scale(1.05);
}

#footerAlso{
  display: flex;
  background-color: #8C8C8C;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}