footer{
  height: 300px;
  margin-top: 250px;
  width: 100%;
  position:static;
  bottom: 0;
  color: white;

}

#footerFelso{
  display: flex;
  background-color: #6C9995;
  height: 80%;
  width: 100%;
  margin-top: 300px;
}

#footerAlso{
  height: 20%;
}

#logo{
  padding: 0px 20px;
  height: 100%;
  vertical-align: top;


}
#logoImg{
  height: 80%;
  width: 100%;
  margin-top: 15%;
  margin-left: 10%;

}   
#socialmedia{
  height: 100%;
  width: 40%;
}
#imgsRow{
  height: 50%;
  display: flex;
  gap: 15%;
}
#imgsRow>a>img{
  height: 100%;
  margin-left: 100%;
  margin-top: 50%;
}
#jobboldal{
  right: 0;
  height: 100%;
  margin-left: 10%;
  
}
#jobboldal a{
  text-decoration: none;
  color:  white;
}
#kapcsolat{
  height: 70%;
  width: 100%;
}

#hirlevel{
  height: fit-content;
  width: 100%;
  display: flex;
}
#footer_input{
  width: 60%;
  height: 40%;
}

#footerAlso{
  display: flex;
  background-color: #8C8C8C;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
.hirlevel {
  display: flex;
  max-width: 420px;
  width: 100%;
  background: #ffffff;
  border-radius: 999px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  margin: -5% auto;
}

.hirlevel input {
  flex: 1;
  border: none;
  padding: 14px 18px;
  font-size: 15px;
  outline: none;
}

.hirlevel input::placeholder {
  color: #9ca3af;
}

.hirlevel button {
  border: none;
  background: #D2E4E3;
  color: #000;
  padding: 0 22px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hirlevel button:hover {
  background: #8C8C8C;
} 	
#verticalLine {
  width: 1px;
  height: 80%; 
  background-color: #fff; 
  align-self: center;
  margin:  3%;
}
