html{
    background-color: #D2E4E3;
    color: white;
    font-family: "Inter";

}
.cim{
    text-align: center;
    font-size: 20px;
}
.recept_neve p {
    margin: 0;
}

.recept_neve {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recept_neve p {
    margin: 0;
}
.recept_neve input {
    padding: 6px 10px;
}

.category-box {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    background: #6C9995;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
 
  }
  
  .category-box label {
    display: block;        /* EZ teszi egymás alá */
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .category-box input {
    margin-right: 8px;
  }


