/* Alapbeállítások */
html, body {
    background-color: #D2E4E3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}






.receptek {
    max-width: 80vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #9bc5c2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.receptek h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

div > p {
    font-size: x-large;
    margin: 5px 0;
}
.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 40vw;

    justify-content: center;
    margin: auto;
    background-color: #fdfdfd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.img-wrapper img.kep {
    width: 100%;
    object-fit: cover; 
}


.img-wrapper .content {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    
    color: #ffffff;
    background-color: #6C9995;
    width: 100%; 
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.img-wrapper .content.fade {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.img-wrapper:hover .content.fade {
    opacity: 1;
}


#nincsRecept {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .receptek {
        padding: 10px;
    }

    .img-wrapper {
        width: 60vw;
        
    }
    .img-wrapper img.kep {
        width: 60vw;
        height: 20vh;
    }

    .img-wrapper .content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 570px) {
    .receptek h2 {
        font-size: 1.5rem;
    }

    .img-wrapper img.kep {
        height: 120px; 
    }

    .img-wrapper .content {
        font-size: 0.9rem;
    }
    .img-wrapper {
        width: 60vw;
        
    }
    .img-wrapper img.kep {
        width: 60vw;
        height: 20vh;
    }
}

@media screen and (max-width: 480px) {
    .receptek h2 {
        font-size: 1.2rem;
    }

    .img-wrapper img.kep {
        height: 100px; 
        
    }

    .img-wrapper .content {
        font-size: 0.8rem;
    }
    .img-wrapper {
        width: 60vw;
        
    }
    .img-wrapper img.kep {
        width: 60vw;
        height: 20vh;
    }
}