body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #D2E4E3;
    color: white;
}

main{
    padding: 20px 50px;
}

h1{
    background-color: #6C9995;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
}