nav{
    height: 120px;
    background-color: #6C9995;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bal_oldal_nav{
    margin-left: 2%;
    height: 90%;
    text-align: center;
    font-size: 20px;
}

#jobb_oldal_nav{
    height: 90%;
    gap: 30px;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

#main_logo{
    height: 70%;
}

nav p{
    margin: 0px;
}

.nav_elem{
    font-size: 30px;
    height: min-content;
    justify-self: center;
}

a{
    height: 100%;
}
#icon{
    height: 100%;
}


a:hover{
    text-decoration: none;
}
a:visited{
    color: white;
}
a:active{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}