body{
    margin: 0;
    font-family: "Inter";
    background-image: url("../imgs/receptek_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #D2E4E3;
    color: white;
}


main{
    justify-self: center;
    width: 500px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 15px;
}

form{
    text-align: center;
}

h1{
    background-color: #6C9995;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    justify-self: center;
    margin: 40px 15px 60px 15px;
    text-align: center;
}

#loginLogo{
    width: 200px;
    height: auto;
    display: block;
    margin: 20px 0px 30px 0px;
    justify-self: center;
}

main button[type="submit"]{
    margin: 30px auto 0;
    background-color: #6C9995;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    height: 60px;
    width: 90%;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 40px;
}
.bejelentkezes a{
    color: white;
    margin: auto;
}
.bejelentkezes:hover{
    background-color: #97bbb9;
    transform: scale(1.05);
}
label{
    padding: 10px 30px;
    background: #6C9995;
    border-radius: 10px;
    font-size: 30px;
}

#email, #password, input[type="username"]{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

main a:active{
    color: blue;
}
main a:visited{
    color: lightblue;
}

.error{
    color: red;
    font-size: 14px;
    margin: 0;
    padding: 0;
}


