body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter";
    background-image: url("../imgs/receptek_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


main{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

form{
    text-align: center;
}

label{
    padding: 10px 30px;
    background: #6C9995;
    border-radius: 10px;
    font-size: 30px;
}

input[type="email"], input[type="password"], input[type="username"]{
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

main a:active{
    color: blue;
}
main a:visited{
    color: lightblue;
}